.calendar {
  display: flex;
  height: 100%;
  overflow: auto;
  margin-top: 10px;
}

.dayColumn {
  flex: 1;
  height: 100%;
}

.hourColumn {
  width: 50px;
}

.cell {
  border-left: var(--thin-border);
  border-bottom: var(--thin-border);
  height: 60px;
  text-align: center;
  display: block;
  position: relative;
}

.cell.headerCell {
  border-left: none;
}

.cell.hourCell {
  display: flex;
  align-items: end;
  font-size: 10px;
  border: none;
  position: relative;
}

.cell.hourCell:after {
  content: "";
  border-bottom: var(--thin-border);
  position: absolute;
  width: 12px;
  bottom: 0;
  right: 0;
}

.cell:first-child {
  position: sticky;
  top: 0;
  background: var(--white-color);
  z-index: var(--zIndex-positive);
  height: 80px;
  z-index: var(--zIndex-mainCalHeader);
}

.date {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.currentDay {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.eventSlot {
  left: 8;
  width: 90%;
  background-color: var(--primary-lighter-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
  position: absolute;
  z-index: var(--zIndex-positive);
  min-height: 25px;
  text-align: left;
  border: var(--thin-border);
}

.eventSlot.selected {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
